
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    position: fixed;
    height: 97vh;
    /* width: 100%; */
    inset: 0;
}

/* HEADER */
header {
    width: 100%;
    background: grey;
    padding: 4px 2rem;
}

nav {
    display: flex;
    gap: 5px;
}

main {
    display: flex;
    height: 100%;
}

/* SECTIONS */

section#left-panel {
    background: orange;
    /* width: 40rem; */
    min-width: 35rem;
    padding: 2rem;
    height: 100%;
    overflow-y: scroll;
}

section#media-panel {
    background: purple;
    width: 100%;
    padding: 1rem 2rem;
    overflow-y: scroll;
}

/* LEFT PANEL */

#left-panel .content {
    padding-top: 0.8rem;
}

#left-panel .md > ul {
    padding-top: 1rem;
    padding-left: 2rem;
}

#left-panel li {
    height: fit-content;
}

#left-panel a {
    display: block;
    background: #0a04;
    padding: 2px 0.5rem;
}
#left-panel a:hover {
    text-decoration: underline;
}


a.media-post-button {
    color: purple;
    cursor: pointer;
    background: none;
}

a.media-post-button.highlighted {
    background: green !important;
}

/* MEDIA PANEL */

#media-panel video {
    width: 100%;
    max-width: 70rem;
    max-height: 90vh;
    background: black;
}


