


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    width: 100%;
    background: grey;
    padding: 4px 2rem;
}

nav {
    display: flex;
    gap: 5px;
}

main {
    display: flex;
}

/* LEFT SIDE */
section.left-section {
    background: orange;
    width: 50vw;
    padding: 2rem;
}

section.right-section {
    background: purple;
    width: auto;
    min-height: 20rem;
}